@inject IJSRuntime JSRuntime
@page "/"

<PageTitle>Home</PageTitle>

<Page>
    <Body>
        <h1 class="text-center">Hallo</h1>
    </Body>
</Page>

@code {
    // protected override void OnInitialized()
    // {
    //     Console.Write("Hello World");
    //     JSRuntime.InvokeVoidAsync("alert", "Hello World");
    // }
}
